@using System.Threading.Tasks
@using Fingo.Auth.DbAccess.Models.Policies.Enums
@using Fingo.Auth.Domain.Policies.Enums
@model Fingo.Auth.Domain.Policies.ConfigurationClasses.PasswordExpirationDateConfiguration

<div class="panel panel-success" style="margin-bottom: 0; margin-top: 15px;">
    <div class="panel-heading">
        <strong>Set password expiration date</strong>
    </div>
    <div class="alert alert-info small" role="alert" id="passExpDateAlert" style="display: none; margin-bottom: 0">
        <strong>Information!</strong> The number of days should be higher than 0.
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("SavePasswordExpirationPolicy" , "Policy" , new {policy = Policy.PasswordExpirationDate , projectId = ViewData["projectId"]} , FormMethod.Post , null , new {id = "userPassExpDate"}))
        {
            <div>
                <div>
                    @Html.RadioButtonFor(m => m.PasswordExpiration , PasswordExpiration.Year , new {id = PasswordExpiration.Year}) 1 year
                </div>
                <div>
                    @Html.RadioButtonFor(m => m.PasswordExpiration , PasswordExpiration.HalfYear , new {id = PasswordExpiration.HalfYear}) 6 months
                </div>
                <div>
                    @Html.RadioButtonFor(m => m.PasswordExpiration , PasswordExpiration.Month , new {id = PasswordExpiration.Month}) 1 month
                </div>
                <div>
                    @Html.RadioButtonFor(m => m.PasswordExpiration , PasswordExpiration.Custom , new {id = PasswordExpiration.Custom}) Custom
                </div>
                @{
                    var display = "";
                    if (Model.PasswordExpiration != PasswordExpiration.Custom)
                    {
                        display = "none";
                    }
                }
                <div id="customDayValue" style="display: @display;">
                    Number of days after which password expires:
                    @Html.TextBoxFor(m => m.CustomValue , null , new {id = "customPassExpDateVal" , placeholder = "" , type = "number" , style = "max-width: 50px;"})
                </div>
            </div>
            <button id="submitPolicies" type="submit" class="btn btn-success pull-right button-narrow">Save</button>
        }
    </div>
</div>

<script>
    $('input[name=PasswordExpiration]')
        .click(function() {
            if ($(this).attr('id') === '@PasswordExpiration.Custom') {
                $('#customDayValue').show();
            } else {
                $('#customDayValue').hide();
                $('#customPassExpDateVal').val(null);
            }
        });
    $('#userPassExpDate')
        .submit(function(event) {
            if ($('form[id=userPassExpDate] input[id=Custom]:checked').length > 0) {
                if ($('#customPassExpDateVal').val() > 0)
                    return;
                $("#passExpDateAlert").show();
                event.preventDefault();
            } else {
                return;
            }
        });
</script>